<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        Menu
    </label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="_expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All">Schedule</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool _expanded = false;
}